#game {
  background-color: #111;
  height: 650px;
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;

}

#screen{
  color: white;
}




#player {
  background-color: white;
  height: 20px;
  position: absolute;
  width: 40px;
}

#player-stats{
  background-color: white;
  height: 200px;
  width: 200px;
  display: inline-block;
}

#boss-hp{
  background-color: white;
  height: 200px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

#boss{
  height: 70px;
  position: absolute;
  width:  90px;
}

#leaderboard{
  background-color: white;
  height: 200px;
  width: 200px;
}

#box1 {
  /* background-color: white; */
  height: 100px;
  position: absolute;
  width: 100px;
  left: 150px;
  bottom: 325px;
}

#box2 {
  /* background-color: white; */
  height: 100px;
  position: absolute;
  width: 100px;
  left: 300px;
  bottom: 325px;
}

#box3 {
  /* background-color: white; */
  height: 100px;
  position: absolute;
  width: 100px;
  left: 450px;
  bottom: 325px;
}


.bullet {
  /* width: 20px;
  height: 20px; */
  /* background: tan; */
  position: absolute;
}

.bossBullet {
  /* width: 20px;
  height: 20px; */
  /* background: tan; */
  position: absolute;
}

/* .bullet:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.bullet:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
} */
